<ion-header>
  <ion-toolbar>
    <ion-title>
      Mój Dom
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="appContainer">
    <div class="appRow">
      <div class="appCol appBrick blueBrick">
        <i class="fas fa-cookie-bite"></i>
        <span>Moja Lodówka</span>
      </div>
      <div class="appCol appBrick purpleBrick">
        <span>Moje Porządki</span>
      </div>
    </div>
    <div class="appRow">
      <div class="appCol appBrick greenBrick">
        <span>Moje Zakupy</span>
      </div>
      <div class="appCol appBrick blackBrick">
        <span>Moje Rachunki</span>
      </div>
    </div>
    <div class="appRow">
      <div class="appCol appBrick yellowBrick">
        <span>Moja Planer</span>
      </div>
      <div class="appCol appBrick pinkBrick">
        <span>Kalendarz Urodzin</span>
      </div>
    </div>
  </div>
</ion-content>
