<ion-header>
  <ion-toolbar>
    <ion-title>
      Mój Dom
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="appContainer">
    <div class="appRow">
      <div class="appBrick blueBrick">Moja Lodówka</div>
      <div class="appBrick purpleBrick">Moje Porządki</div>
    </div>
    <div class="appRow">
      <div class="appBrick greenBrick">Moje Zakupy</div>
      <div class="appBrick blackBrick">Moje Rachunki</div>
    </div>
    <div class="appRow">
        <div class="appBrick yellowBrick">Moja Planer</div>
        <div class="appBrick pinkBrick">Kalendarz Urodzin</div>
    </div>
  </div>
</ion-content>
